<xqtr version="1.0">
	<var id="ffmpegPath" value="/bin/blah"/>
	<var id="Programa" value="1"/>
	<program name="{Programa + 1} 1" bin="{ffmpegPath}">
		<profile name="Profile 1">
			<file id="audio" name="Audio source" class="open" format="mp3 wav aac" maxsize="10MB"/>
		</profile>
	</program>
</xqtr>
