<xqtr version="1.0">
	<program name="Tarball" bin="tar">
		<profile name="Create a new tar archive"
				 args="{compress}cvf {output}{method} {sources}">
			<file id="sources" class="multiple"/>
			<file id="output" class="save" format="tar" value="out.tar"/>
			<check id="compress" yvalue="a" nvalue=""/>
			<choicegroup id="method" value="">
				<choice name="none" value=""/>
				<choice name="bzip2" value=".bz2"/>
				<choice name="gzip" value=".gz"/>
				<choice name="lzma" value=".lzma"/>
				<choice name="xz" value=".xz"/>
			</choicegroup>
		</profile>
	</program>
</xqtr>