<xqtr version="1.0">
    <var id="editor" value="ffmpeg -y"/>
    <var id="default_name" value="out"/>
    <var id="video_format" value="mp4 mov mkv avi mpg wmv"/>
    <var id="audio_format" value="mp3 wav aac ogg m4a wma"/>
    <var id="image_format" value="jpg jpeg png gif tif tiff"/>

	<!-- Caso de prueba 1 -->
	<program name="Audio to Video" bin="{editor} -loop 1 -i {image} -i {audio} -shortest {video}">
		<profile>
			<file id="audio" name="Audio source" class="open" format="{audio_format}"/>
			<file id="image" name="Image source" class="open" format="{image_format}"/>
			<file id="video" name="Video target" class="save" format="{video_format}" value="{default_name}"/>
		</profile>
	</program>
	
	<!-- Caso de prueba 2 --> 
	<program name="Video Trimmer" bin="{editor} -i {input} -c:v libx264 -ss {from}">
	    <profile class="hidden">
	        <file id="input" format="{video_format}"/>
			<file id="output" class="save" format="{video_format}" value="{default_name}"/>
			<seq type="time" id="from"/>
			<profile name="Trim from given time for duration" args="-t {duration} {output}">
			    <seq type="number" id="duration" unit="s"/>
			</profile>
			<profile name="Trim from given time to given time" args="-t {to - from} {output}">
			    <seq type="time" id="to"/>
			</profile>
	    </profile>
	</program>
	
	<!-- Caso de prueba 3 -->
	<program name="Video Rotator" bin="{editor} -i {input}">
		<profile class="hidden">
			<file id="input" class="open" format="{video_format}"/>
			<file id="output" class="save" format="{video_format}" value="{default_name}"/>
			<profile name="Rotate by angle in degrees" args="-vf &quot;rotate={direction}*{angle}*PI/180&quot; {output}">
				<range id="angle" min="0" step="10" max="360" unit="°" value="0"/>
			</profile>
			<profile name="Rotate by angle in radians" args="-vf &quot;rotate={direction}*{angle}&quot; {output}">
				<seq type="number" id="angle" min="0" step="0.01" unit="rad" value="0"/>
			</profile>
			<choicegroup id="direction" value="1">
				<choice name="Clockwise" value="1"/>
				<choice name="Counterclockwise" value="-1"/>
			</choicegroup>
		</profile>
	</program>
	
	<!-- Caso de prueba 4 -->
	<program name="Audio Merger" bin="{editor} -f concat -safe 0 -i &lt;(for f in {files};do echo &quot;file $f&quot;;done) {output}">
		<profile>
			<file id="files" class="multiple" name="Files to merge" format="{audio_format}"/>
			<file id="output" class="save" name="Combined file" format="{audio_format}" value="{default}"/>
		</profile>
	</program>
</xqtr>